html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica";
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:1;
}

.map-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
    
.layer-picker {
  position: absolute;
  left: 35px;
  top: 280px;
  z-index: 30000;
  background: #CFD0D1;
  color: #4D4E56;
}

.layer-picker2 {
  position: absolute;
  left: 35px;
  top: 310px;
  z-index: 30000;
  background: #CFD0D1;
  color: #4D4E56;
}
.nycparks {
  position: absolute;
  left: 35px;
  top: 220px;
  z-index: 30000;
  background: #CFD0D1;
  color: #4D4E56;  
}

.overlay {
  background: #18B57F;
  position: absolute;
  left: 13px;
  top: 85px;
  padding: 25px;
  z-index:20000;
}
